Server/Server/obj/Debug/UI/Window1.g.i.cs
Server/Server/obj/Debug/UI/Window1.g.cs
Server/Server/obj/Debug/Server_MarkupCompile.cache
Server/Server/obj/Debug/Server.csproj.CoreCompileInputs.cache
Server/Server/obj/Debug/MainWindow.g.cs
Server/.vs/Server/v15/Server/sqlite3/storage.ide-shm
Server/.vs/Server/v15/Server/sqlite3/storage.ide-wal
Server/Server/obj/Debug/Server_MarkupCompile.lref
Server/Server/obj/Debug/Server.Properties.Resources.resources
Server/Server/obj/Debug/Server.g.resources
Server/Server/obj/
Server/Server/bin/Debug/Newtonsoft.Json.dll
Server/Server/bin/
Client/Client/obj/
Client/Client/bin/Debug/netcoreapp2.0/Client.dll
Client/Client/bin/
Client/.vs/
Server/.vs/Server/v15/Server/sqlite3/storage.ide
